* {
  box-sizing: border-box;
}

.text-align{
	
	text-align: center;
	
}

header{
	background-color: #003459;
	height: 100px;
	
}

footer{
	background-color: #007ea7;
	padding-top: 25px;
}

body{
	background-color: #00a8e8;
	margin-top: 20px;
}

h1{
	color: white;
	font-family: Helvetica, serif;
	font-size: 55px
}
h2{
	color: white;
	font-family: Palatino, URW Palladio L, serif;
}
h3{
	color: white;
	font-family: OCR A Std, monospace;
}

p{
	color: white;
	font-family: URW Chancery L, cursive;
}

a:link    { color: green;  }
a:visited { color: red;   }
a:hover   { color: blue; }
a:active  { color: #900C3F;  }

ol{
	font-family: DejaVu Sans Mono, monospace;
}

ul{
	font-family: OCR A Std, monospace;
}
hr{}


