h1 h2 h3 p{
	
	text-align: center;
	
}

header{
	background-color: #003459;
	
}

footer{
	background-color: #007ea7;
}

h1{
	color: white;
	font-family: Helvetica, serif;
	font-size: 55px
}
h2{
	color: white;
	font-family: Palatino, URW Palladio L, serif;
}
h3{
	color: white;
	font-family: OCR A Std, monospace;
}
p{

}
link{}
ol{}
a{}
hr{}


